#first-paragraph{
    color: blue;
    background-color: goldenrod;
}

#second-paragraph{
    color:rgb(0, 205, 0);
    background-color: blue;
}
#bold-paragraph{
   font-weight: bold;
   font-size: 24px;
   font-style: italic;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
