* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom, 
        #11f9b7,
        #f5dba0 
    );
        display: flex;
        align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    display: inline-block;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover {
    background: linear-gradient(
        to top, 
        #11f9b7,
        #f5dba0 
    );
}

.dropdown-container {
position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-contaner:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}



.dropdown-menu a {
    background-color: rgb(39, 217, 199);
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background:  #f5dba0;
}

#mimi {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

#mimi img {
    width: 50%;
}

.aboutme h1 {
    text-align: center;
    color: rgb(255, 105, 130);
    font-size: 70px;
}

.aboutme {
    text-align: center;
    margin: 50px;
    padding: 24px;
    background-image: url(../images/background1.jpeg);
}

.aboutme p {
    font-weight: bold;
    font-size: 36px;
    margin: 24px 700px 700px 700px;
    padding: 24px;
    background-color: rgb(246, 234, 254);
}

.aboutmemars  h1 {
    text-align: center;
    color: green;
    font-size: 70px;
}

.aboutmemars {
display: flex;
flex-direction: column;
align-items: center;
background-color: #a5e2d0;
}

.aboutmemars p {
    font-weight: bold;
    font-size: 36px;
    margin: 24px 700px 700px 700px;
    padding: 24px;
    background-color: #c0e7ac;
}

.aboutmepink {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(253, 211, 213);
}

.aboutmepink p {
    font-weight: bold;
    font-size: 36px;
    margin: 24px 700px 700px 700px;
    padding: 24px;
    background-color: rgb(246, 246, 246);
}

.aboutmepink h1 {
    text-align: center;
    color: rgb(255, 105, 130);
    font-size: 70px;
}

#pink img {
    width: 100%;
    margin: auto;
}











